<?php
/**
 * Der Modulprogrammierer - Magento App Factory AG
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the
 * Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 * that is bundled with this package in the file LICENSE.txt.
 *
 *
 * @category   DerModPro
 * @package    DerModPro_BCP_Swatches
 * @copyright  Copyright (c) 2012 Der Modulprogrammierer - Magento App Factory AG
 * @license    Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 */

 ?>
<?php
 /*
  * ========= Customizing the swatches look =========
  *
  *
  * The css file can be found in skin/frontend/default/default/dermodpro/bcpswatches/css/swatches.css
  *
  * The width and height of the swatch images can be set as parameters to the call $this->getSwatches(<width>, <height>)
  * If the parameters are omitted, the value configured in the system configuration for the extension will be used.
  *  $this->getSwatches(20, 20)    - Scale the image so it fits in a 20x20 canvas.
  *
  * If you configure zero as the width and height, no url will be generated and you can create your own call to the image helper
  * using the parameters you need, e.g.
  * 
  *  Mage::helper('catalog/image')->init($_swatch->getProduct(), 'swatches', $_swatch->getImagePath())
  *    ->constrainOnly(true)
  *    ->keepAspectRatio(true)
  *    ->keepFrame(true)
  *    ->resize(400, 400)
  *
  *
  * The following properties of the simple products can be used in the template:
  *
  *  $_swatch->getImageUrl() - returns the URL to the swatch image (if a width and height is specified in the system configuration or in the template).
  *
  *  $_swatch->getName() - returns the name of the simple product for this swatch image
  *
  *  $_swatch->getSku() - returns the SKU for the simple product
  *
  *  $_swatch->getProductId() - return the magento product id
  *
  *  $_swatch->getAddToCartUrl() - return the link that will trigger an add-to-cart action
  *
  *  $_swatch->getIsInStock() - return true if the simple product is currently in stock
  *
  *  $_swatch->getIsSalable() - return true if the simple product is currently saleable
  *
  * If you have enabled the configuration option "Load prices of simple products" in the system
  * configuration you can also use:
  *
  *  $_swatch->getPrice() - returns the regular product price for the simple product
  *
  *  $_swatch->getFinalPrice() - get the final price for the simple product
  *
  *  $_swatch->getFormattedPrice() - return the formatted price of the simple product for the current store's currency
  *
  *  $_swatch->getFormattedFinalPrice() - return the formatted final price of the simple product for the current store's currency
  *
  * You can get the swatches product model if you need any other methods or data from there:
  *
  *  $_swatch->getProduct()
  *
  *  $_swatch->getProduct()->getShortDescription() // or any other loaded attribute
  *
  */
?>
<?php if ($_swatches = $this->getSwatches()): ?>
<div class="bcp-swatches">
	<?php foreach ($_swatches as $_swatch): ?>
	<?php if (! $_swatch->getIsSalable()) continue; ?>
	<div class="swatch">
		<?php $_title = $this->htmlEscape($_swatch->getName()) ?>
		<img src="<?php echo $_swatch->getImageUrl() ?>" alt="<?php echo $_title ?>" title="<?php echo $_title ?>" onclick="spConfig.selectSimpleProduct(<?php echo $_swatch->getProductId() ?>);"/><br/>

		<?php /* Sample Add-To-Cart Link: ?>
		<div class="swatch-add-to-cart">
			<?php if ($_swatch->getIsSalable()): ?>
			<a href="<?php echo $_swatch->getAddToCartUrl() ?>"><?php echo $this->__('Add to Cart') ?></a>
			<?php else: ?>
			<?php echo $this->__('Out of Stock') ?>
			<?php endif; ?>
		</div>
		<?php End of Sample */ ?>

	</div>
	<?php endforeach; ?>
	<div class="swatches-clear"></div>
</div>
<?php endif; ?>