<?php
/**
 * Der Modulprogrammierer - Magento App Factory AG
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the
 * Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 * that is bundled with this package in the file LICENSE.txt.
 *
 *
 * @category   DerModPro
 * @package    DerModPro_BCP_Swatches
 * @copyright  Copyright (c) 2012 Der Modulprogrammierer - Magento App Factory AG
 * @license    Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 */
 ?>
<?php
 /*
  * ========= BCP Swatches Example Expanded Template =========
  *
  * The css file can be found in skin/frontend/default/default/dermodpro/bcpswatches/css/swatches.css
  */
?>
<?php if ($_swatches = $this->getSwatches(60, 40)): ?>
<div class="bcp-swatches bcp-swatches-expanded">
	<?php foreach ($_swatches as $_swatch): ?>
	<div class="swatch">
		<div class="swatch-header">
            <?php $_title = $this->htmlEscape($_swatch->getName()) ?>
            <?php if (0 < strlen($_swatch->getImageUrl())): ?>
            <div class="swatch-image">
				<img src="<?php echo $_swatch->getImageUrl() ?>" alt="<?php echo $_title ?>" title="<?php echo $_title ?>" onclick="spConfig.selectSimpleProduct(<?php echo $_swatch->getProductId() ?>);"/><br/>
			</div>
            <?php endif; ?>
			<div class="swatch-name" onclick="spConfig.selectSimpleProduct(<?php echo $_swatch->getProductId() ?>);">
				<?php echo $_title ?>
			</div>
		</div>
		<div class="swatch-info">
			<div class="swatch-price-box">
				<?php if ($_swatch->getPrice() != $_swatch->getFinalPrice()): ?>
				<div class="old-price">
					<span class="price-label"><?php echo $this->__('Regular Price') ?></span>
					<span class="price"><?php echo $_swatch->getFormattedPrice() ?></span>
				</div>
				<div class="special-price">
					<span class="price-label"><?php echo $this->__('Special Price') ?></span>
					<span class="price"><?php echo $_swatch->getFormattedFinalPrice() ?></span>
				</div>
				<?php elseif (!is_null($_swatch->getFormattedFinalPrice())): ?>
				<div class="regular-price">
					<span class="price-label"><?php echo $this->__('Price') ?></span>
					<span class="price"><?php echo $_swatch->getFormattedFinalPrice() ?></span>
				</div>
				<?php endif; ?>
			</div>
			<div class="swatch-add-to-cart">
				<?php if ($_swatch->getIsSalable()): ?>
				<button class="button btn-cart" onclick="window.location='<?php echo $_swatch->getAddToCartUrl() ?>'; return false;">
					<span><?php echo $this->__('Add to Cart') ?></span>
				</button>
				<?php else: ?>
				<span class="availability out-of-stock"><?php echo $this->__('Out of Stock') ?></span>
				<?php endif; ?>
			</div>
		</div>
	</div>
	<?php endforeach; ?>
	<div class="swatches-clear"></div>
</div>
<?php endif; ?>